<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leitura de Livros</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Selecione um livro para ler:</h1>
    <form action="/livros" method="get">
        <select name="livro">
            <option value="">Selecione um livro</option>
            {% for livro in livros %}
            <option value="{{ livro }}">{{ livro }}</option>
            {% endfor %}
        </select>
        <button type="submit">Ler</button>
    </form>
</body>
</html>
