<!-- index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Minhas Notas</h1>
    <ul>
        {% for nota in notas[2:] %}
            <li><a href="{{ url_for('ver_nota', nota_id=nota['id']) }}">{{ nota['titulo'] }}</a></li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('criar_nota') }}">Criar Nota</a>
</body>
</html>
