<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resetar Senha</title>
</head>
<body>
    <h1>Resetar Senha. Faça com que o email "hacker@security.com" receba a mensagem de reset de senha 💻</h1>
    <form id="resetForm">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
        <button type="button" onclick="enviarDados()">Enviar</button>
    </form>
    <div id="output" style="display: none;"></div>

    <script>
        function enviarDados() {
            var email = document.getElementById('email').value.toLowerCase();
            var username = document.getElementById('username').value.toLowerCase();
            var url = '/reset_senha';
            var data = { email: email, username: username };

            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            })
            .then(response => {
                if (response.ok) {
                    return response.text();
                }
                throw new Error('Erro ao resetar senha.');
            })
            .then(result => {
                // Redirecionar para a página de senha resetada com o output como parâmetro de query
                window.location.href = `/senha_resetada?output=${result}`;
            })
            .catch(error => {
                console.error('Erro:', error);
            });
        }
    </script>
</body>
</html>
